doctype html
html(lang='en-Us')
head
    meta(charset='utf-8')
    title PlayPadel - Login
    link(rel='stylesheet', href='/stylesheets/cover.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')

    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

  body
    #login
      h1
        strong Welcome to PlayPadel.
        | Please login.
      -if(message.length>0)
        div.alert.alert-danger
          message= message
      form(action='/login', method='post')
        fieldset
          p
            input(type='email', name='email', placeholder='Email', required)
          p
            input(type='password', name='password', placeholder='Password' required)
          //
             JS because of IE support; better: placeholder="Password"
          p
            a(href='/signup') Don't have an account?
          p
            button(type='submit') Login
      p
        a.facebook-before
          span.fontawesome-facebook
        a.facebook(href='/auth/facebook') Login Using Facbook

    //
       end login
