body {
	min-height: 2000px;
  	padding-top: 75px;

}
.matchs{
	min-height: 300px;
}

.court{
	height: 225px;
	width: 450px;
	background-image: url('/images/court.png');
}

.player{
	padding:10px 0 0 100px;
	height: 112px;
	width: 225px;
}

.sidebar{
	background: #f5f5f5;
}

img{
	max-width: 100%;
	height: auto;
}

/*COMMENTS*/

.comments auth{
	font-size: .8em;
	color: #0092B2;
}
.comments date{
	font-size: .5em;
}

.comments comm{
	font-size: .6em;
	margin-top: 6px;
}

.comments .remove{
	font-size: .6em;
	color: #777;
}

.newComm{
	margin-top: 9px;
}